<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            text-align: center;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name"><br><br>
        Age: <input type="number" name="age"><br><br>
        <button>submit</button>
    </form>
    Name: {{name}}
    age: {{age}}
</body>
</html>